{% block social %}
  <section class="module module-narrow social">
    {% block social_title %}
      <h2 class="module-heading"><i class="fa fa-share-square"></i> {{ _('Social') }}</h2>
    {% endblock %}
    {% block social_nav %}
    <ul class="nav nav-simple">
        {% if pkg_dict %}
            {% block nums %}
                {% set num_followers = h.follow_count('dataset', pkg_dict.id) %}
                <li class="nav-item">
                <span class="nums">
                <dl>
                    <dt class="item_social_nums_dt">
                        <li class="nav-item"><a href="{{h.url_for_static('/dashboard/') }}" target="_blank"><i class="fa fa-users"></i> {{ _('Followers') }}</a></li>
                    
                    </dt>
                    <dd class="item_social_nums_dd" data-module="followers-counter" data-module-id="{{ pkg_dict.id }}" data-module-num_followers="{{ num_followers }}">{{ h.SI_number_span(num_followers) }}</dd>
                </dl>
                </span>
            {% endblock %}
            {% block follow_button %}
                {% if not hide_follow_button %}
                <div class="follow_button">
                    {{ h.follow_button('dataset', pkg_dict.id) }}
                </div>
                </li>
                {% endif %}
            {% endblock %}
        {% endif %}
          {% set package_identifier = pkg_dict.name or pkg_dict.id if pkg_dict else None %}
          {% set current_url = h.url_for('dataset.read', id=package_identifier) if package_identifier else h.current_url() %}
          {% block permalink %}
            {% snippet "schemingdcat/snippets/permanent_url.html", url=current_url %}     
          {% endblock %}
          <li class="nav-item">
            <a href="https://twitter.com/share?url={{ current_url }}" target="_blank">
              <span class="social-icon" aria-hidden="true">
                <svg width="16" height="16" viewBox="0 0 24 24" focusable="false" role="img">
                  <path fill="currentColor" d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.724-.949.564-2.005.974-3.127 1.195-.897-.959-2.178-1.559-3.594-1.559-2.72 0-4.924 2.204-4.924 4.917 0 .39.045.765.127 1.124-4.094-.205-7.725-2.165-10.158-5.144-.424.729-.666 1.574-.666 2.476 0 1.708.87 3.214 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.062c0 2.385 1.693 4.374 3.946 4.828-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.376 4.6 3.417-1.68 1.319-3.808 2.105-6.102 2.105-.395 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 14-7.496 14-13.986 0-.21 0-.42-.016-.63.961-.689 1.8-1.56 2.46-2.548z"/>
                </svg>
              </span>
              Twitter
            </a>
          </li>
          <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank">
            <span class="social-icon" aria-hidden="true">
              <svg width="16" height="16" viewBox="0 0 24 24" focusable="false" role="img">
                <path fill="currentColor" d="M22.675 0h-21.35C.6 0 0 .6 0 1.337v21.326C0 23.4.6 24 1.325 24h11.495v-9.294H9.691v-3.622h3.129V8.413c0-3.1 1.894-4.788 4.659-4.788 1.325 0 2.464.099 2.797.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.764v2.313h3.587l-.467 3.622h-3.12V24h6.116C23.4 24 24 23.4 24 22.663V1.337C24 .6 23.4 0 22.675 0z"/>
              </svg>
            </span>
            Facebook</a>
          </li>
      </ul>
    {% endblock %}
  </section>
{% endblock %}
