include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/scheming_dcat *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/scheming_dcat/migration *.ini *.py *.mako
