{% set grupos = h.get_memberstates() %}
{% set existing_groups = data.groups if data.groups else [] %}
{% set disponibles = h.groups_available() %}

<label class="checkbox" for="field-group-0">Member State:</label>
<select id="field-group-0" name="groups__0__id" class="form-control form-select">
    <option value=""></option>
    {% for group in disponibles %}
        {% set selected_org = False %}
            {% if group['name'] == existing_group.name %}
                {% set selected_org = existing_groups[0].id == group.id %}
                <option value="{{ group.id }}" {% if selected_org %} selected {% endif %}>{{ group.title }}</option>
            {% endif %}
    {% endfor %}
</select>
