{% macro render_endpoint(endpoint, site_protocol_and_host) %}
    {% set endpoint_type = endpoint.display_name %}
    {% set endpoint_icon = h.url_for_static(endpoint.endpoint_icon) %}
    {% set endpoint_title = _('{endpoint_type} Endpoint').format(endpoint_type=endpoint_type|safe) %}
    {% if endpoint.type == 'ogc' %}
        {% if h.is_url(endpoint.endpoint) %}
            {% set endpoint_url = h.url_for_static_or_external(endpoint.endpoint) %}
        {% else %}
            {% set endpoint_url = site_protocol_and_host[0] +'://' + site_protocol_and_host[1] + '/' + endpoint.endpoint %}
        {% endif %}
    {% elif endpoint.type == 'ckan' %}
        {% set endpoint_url = h.url_for('api.action', ver=3, logic_function='status_show', qualified=True) %}
    {% elif endpoint.type == 'lod' %}
        {% set endpoint_url = h.url_for(endpoint.endpoint, **endpoint.endpoint_data) %}
    {% elif endpoint.type == 'sparql' %}
        {% set endpoint_url = h.url_for('/sparql') %}
    {% endif %}
    <li>
        <a href="{{ endpoint_url }}" target="_blank" rel="noopener noreferrer" title="{{ endpoint_title }}">
            <img class="endpoint-image" src="{{ endpoint_icon }}" alt="{{ endpoint.display_name }}">
        </a>
    </li>
{% endmacro %}

{% set endpoints = h.schemingdcat_get_catalog_endpoints() %}
{% set site_protocol_and_host = h.get_site_protocol_and_host() %}

<div class="header-catalog-container">
    <h1 class="header-page-title">
        {{_('Conjuntos de datos')}}
    </h1>
    <ul class="header-catalog">
    {% for endpoint in endpoints %}
        {{ render_endpoint(endpoint, site_protocol_and_host) }}
    {% endfor %}
    </ul>
</div>