<div class="card">
  <div class="card-header">
    <a class="accordion-button" data-bs-toggle="collapse" data-bs-parent="accordion2" data-bs-target="#collapse-curl">{{ _('Example: curl') }} &raquo;</a>
  </div>

  <div id="collapse-curl" class="collapse">
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          <a class="accordion-button" data-bs-toggle="collapse" data-bs-parent="#collapse-curl" data-bs-target="#collapse-curl-example1">{{ _('Query example (first 5 results)') }}</a>
        </div>
        <div id="collapse-curl-example1" class="collapse">
          <div class="card-body">
            <pre class="ft-syntax-highlight" data-syntax="shell" data-syntax-theme="one-dark" style="font-size:12px"><code>
  
  curl {{ h.url_for('api.action', ver=3, logic_function='datastore_search', qualified=True) }} \
  -H"Authorization:$API_TOKEN" -d '
{
  "resource_id": "{{ resource_id }}",
  "limit": 5
}'
          </code></pre>
          </div>
        </div>
      </div>

      <div class="card">
          <div class="card-header">
            <a class="accordion-button" data-bs-toggle="collapse" data-bs-parent="#collapse-curl" data-bs-target="#collapse-curl-example2">{{ _('Query example (results containing \'medio-ambiente\')') }}</a>
          </div>
          <div id="collapse-curl-example2" class="collapse">
            <div class="card-body">
              <pre class="ft-syntax-highlight" data-syntax="shell" data-syntax-theme="one-dark" style="font-size:12px"><code>

curl {{ h.url_for('api.action', ver=3, logic_function='datastore_search', qualified=True) }} \
-H"Authorization:$API_TOKEN" -d '
{
"resource_id": "{{ resource_id }}",
  "filters": {
    "subject": ["medio-ambiente"],
    "stage": "active"
  }
}'
              </code></pre>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="accordion-button" data-bs-toggle="collapse" data-bs-parent="#collapse-curl" data-bs-target="#collapse-curl-example3">{{ _('Query example (via SQL statement)') }}</a>
          </div>
          <div id="collapse-curl-example3" class="collapse">
            <div class="card-body">
              <pre class="ft-syntax-highlight" data-syntax="shell" data-syntax-theme="one-dark" style="font-size:12px"><code>

curl {{ h.url_for('api.action', ver=3, logic_function='datastore_search_sql', qualified=True) }} \
  -H"Authorization:$API_TOKEN" -d @- &lt;&lt;END
{
  "sql": "SELECT * FROM \"{{ resource_id }}\" WHERE title LIKE 'medio-ambiente'"
}
END
              </code></pre>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>