{% block publisher_info %}
  {% if pkg.publisher_name %}
    <section class="module module-narrow module-shallow publisher_info">
      <h2 class="module-heading"><i class="fa fa-address-book-o"></i> {{ _('Publicador') }}</h2>
      <section class="module-content">
        {% set icons_dir = h.schemingdct_get_icons_dir(field_spatial_uri) %}
        {% if icons_dir %}
          {% set icon = h.schemingdct_get_icon(h.schemingdct_get_choice_item(field_spatial_uri, pkg.spatial_uri), icons_dir) %}
          {% if icon %}
            {% set img_url= h.url_for_static(icon) %}
          {% elif no_icon %}
            {% set img_url= h.url_for_static(no_icon) %}
          {% endif %}
        {% endif %}
        {% if img_url %}
          <a href="{{ h.url_for('dataset.search', spatial_uri=pkg.spatial_uri) }}" target="_blank">
            <img src="{{ img_url }}" title="{{ label }}" class="item_icon"></img>
          </a>
        {% endif %}
        <a class="item_heading" href="{{ h.url_for('dataset.search', publisher_name=pkg.publisher_name) }}" target="_blank"> {{ pkg.publisher_name }}</a>

        <ul class="nav nav-simple">
          {% if pkg.publisher_type %}
            {% set choices = h.scheming_field_choices(field_publisher_type) %}
            {% set publisher_type_label = h.scheming_choices_label(choices, pkg.publisher_type) %}
            <li class="nav-item">
              <a href="{{ pkg.publisher_type }}" target="_blank"><i class="fa fa-university"></i> {{ publisher_type_label }}</a>
            </li>
          {% endif %}
          {% if pkg.publisher_url %}
            <li class="nav-item">
              <a href="{{ pkg.publisher_url }}" target="_blank"><i class="fa fa-share-square"></i> {{ h.schemingdct_prettify_url(pkg.publisher_url) }}</a>
            </li>
          {% endif %}
          {% if pkg.publisher_email %}
            <li class="nav-item">
              <a href="{{ pkg.publisher_email }}" target="_blank"><i class="fa fa-envelope"></i> {{ pkg.publisher_email }}</a>
            </li>
          {% endif %}
        </ul>
      </section>
    </section>
  {% endif %}
{% endblock %}