{% ckan_extends %}

{#
  geospatial_metadata_values: Sublist of dcat_type_values that has geospatial metadata (INSPIRE Register).
#}
{%- set geospatial_metadata_values = [
  'http://inspire.ec.europa.eu/metadata-codelist/ResourceType/dataset',
  'http://inspire.ec.europa.eu/metadata-codelist/ResourceType/series',
  'http://inspire.ec.europa.eu/metadata-codelist/ResourceType/service'
] -%}

{% block content_primary_nav %}
  {{ super() }}
  {{ h.build_nav_icon('scheming_dcat.index', _('Linked Data'), id=pkg.id if is_activity_archive else pkg.name, icon='share-alt') }}

  {% if pkg.dcat_type in geospatial_metadata_values %}
    {{ h.build_nav_icon('scheming_dcat.geospatial_metadata', _('Geospatial Metadata'), id=pkg.id if is_activity_archive else pkg.name, icon='globe') }}
  {% endif %}
{% endblock %}

{% block content %}
  {% set schema = h.scheming_get_dataset_schema(dataset_type) %}
  {{ super() }}
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% if pkg.organization %}
      {% set schema = h.scheming_get_dataset_schema(dataset_type) %}
      {% set org = h.get_organization(pkg.organization.id) %}
      {% snippet 'scheming_dcat/snippets/schemingdct_info.html', pkg_dict=pkg, organization=org, schema=schema %}
    {% endif %}
  {% endblock %}

  {% set dataset_extent = pkg.spatial %}
  {% if dataset_extent %}
    {% snippet "scheming_dcat/snippets/schemingdct_dataset_map_sidebar.html", extent=dataset_extent %}
  {% endif %}

  {% block package_data_access %}
    {% set schema = h.scheming_get_dataset_schema(dataset_type) %}
    {% snippet "scheming_dcat/snippets/data_access_license.html", pkg_dict=pkg, schema=schema %}
    {% snippet "scheming_dcat/snippets/publisher_info.html", pkg_dict=pkg, schema=schema, file_name='publisher_info.html' %}
    {% snippet "scheming_dcat/snippets/contact_info.html", pkg_dict=pkg, schema=schema, file_name='contact_info.html' %}
  {% endblock %}
  
  {% block graphic_overview %}
    {% if pkg.graphic_overview %}
      {% snippet "scheming_dcat/snippets/graphic_overview.html", pkg_dict=pkg %}
    {% endif %}
  {% endblock %}

  {% block package_related_resources %}
    {% snippet "scheming_dcat/snippets/related_resources.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_social %}
  {% snippet "scheming_dcat/snippets/schemingdct_social.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}