{% ckan_extends %}
{#
  geospatial_metadata_values: Sublist of dcat_type_values that has geospatial metadata (INSPIRE Register).
#}
{%  set geospatial_metadata_values = [
  'http://inspire.ec.europa.eu/metadata-codelist/ResourceType/dataset',
  'http://inspire.ec.europa.eu/metadata-codelist/ResourceType/series',
  'http://inspire.ec.europa.eu/metadata-codelist/ResourceType/service'
] %}

{% block content_primary_nav %}
  {{ super() }}
  {{ h.build_nav_icon('scheming_dcat.index', _('Linked Data'), id=pkg.id if is_activity_archive else pkg.name, icon='asterisk') }}

  {% if pkg.dcat_type in geospatial_metadata_values %}
    {{ h.build_nav_icon('scheming_dcat.geospatial_metadata', _('Geospatial Metadata'), id=pkg.id if is_activity_archive else pkg.name, icon='globe') }}
  {% endif %}
{% endblock %}