
/***********************************************/
/*                facet scheming               */
/***********************************************/

.filters .module .orden {
	/* display: inline-block;*/
	position:relative;
	float:right;
    height: 40px;
    width: 40px;
    border-radius:5px;
    background-color:rgba(255,255,255,0.7);
    vertical-align:middle;
    margin-right:5px;
    top:5px;
    cursor: pointer;
}

.filters .module .orden .up,
.filters .module .orden .down,
.filters .module .orden .label {
	position:absolute;
	left:2px;
	color:#adb5bd;	
}

.filters .module .orden .label {
    right: 0;
    bottom: 25%;
    margin: auto;
    padding-right:3px;
    text-align: end;
}

.filters .module .orden.active .label {
	color:var(--bs-body-color);	
}

.filters .module .orden {
	border:1px solid #ffffff;
}

.filters .module .orden:hover {
	border:1px solid #000;
}

.filters .module .orden:hover .label {
	color:var(--bs-body-color);	
}
	
	
.filters .module .orden .up {
	top:2px;
}

.filters .module .orden .down {
	bottom:2px;
}

.filters .module .orden .up.active,
.filters .module .orden .down.active
{
	color:#212529;	
}

/* Iconos para facetado */

img.facet-icon {
	width: 15px;
	height: auto;
	margin-right: 5px;
}

option.icon_option{
	background-repeat: no-repeat;
	background-position:left;
	background-size:15px;
	padding-left:17px;
}