{% ckan_extends %}

{% block header_account_logged %}
    {% block header_metadata_templates %}
    <li>
      <a href="{{ h.url_for('schemingdcat.metadata_templates') }}" title="{{ _('Metadata templates') }}">  
          <i class="fa fa-table"></i>
        </a>
      </li>
    {% endblock %}

  <li>
    <a href="{{ h.url_for('/harvest/') }}" title="{{ _('Harvest metadata') }}">
      <i class="fa fa-cloud-download"></i>
    </a>
  </li>
  {{ super() }}
{% endblock %}

{%- block header_debug %} {%- if g.debug and not g.debug_supress_header %}
        <div class="custom-debug"><strong>Debug info:</strong><br>Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
{%- endif %} {%- endblock %}

{% block header_logo %}
    {% if g.site_logo %}
            <a class="logo" href="{{ h.url_for('home.index') }}">
            <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
                title="{{ g.site_title }}" />
            </a>
        {% else %}
            <a class="logo" href="{{ h.url_for('home.index') }}">
                <img src="{{ h.url_for_static_or_external('/images/default/ckan-logo.png') }}" alt="{{ g.site_title }}"
                    title="{{ g.site_title }}" />
            </a>
    {% endif %}
{% endblock %}