{#
  Render a list of links

  values - list of cleaned values
#}

{% set _class = _class or 'link-list' %}
{%- set choices = data[field.field_name] -%}

{% if choices is iterable and (choices is not string) %}
  {%- set values = choices or ([''] * field.get('form_blanks', 1)) -%}
{% elif choices is string %}
  {%- set values = h.scheming_display_json_list(choices).strip('][').split('",') or ([''] * field.get('form_blanks', 1)) -%}
{% else %}
  {%- set values = [''] -%}
{% endif %}

{% block values %}
  <ul class="{{ _class }}">
    {% for value in values if value|length %}
    {% set value = h.scheming_clean_json_value(value.replace(' ', '')) %}
      <li>
        <a class="{% block theme_list_item_class %}{{ value }}{% endblock %}" href="{{ value }}">{{ value }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
