{% set _class = _class or 'scheming-icon-list' %}
{% set value = data[field.field_name] %}
{% set icons_dir = h.schemingdcat_get_icons_dir(field) %}
{% set label = h.scheming_choices_label(h.scheming_field_choices(field), value) %}
{% set icon = icons_dir and h.schemingdcat_get_icon(h.schemingdcat_get_choice_item(field, value), icons_dir) %}
{% set img_url = icon and h.url_for_static(icon) %}

{% if img_url %}
  <img src="{{ img_url }}" title="{{ label }}" class="{{ _class }}-icon spatial_uri-icon"></img> 
{% endif %}

{% if value == label %}
  <a href="{{ value }}"> {{ h.schemingdcat_prettify_url_name(value) }}</a>
{% else %}
  <a href="{{ value }}"> {{ label }}</a>
{% endif %}