{% ckan_extends %}
{% block secondary_content %}
{% snippet "spatial/snippets/spatial_query.html", default_extent="[[26.78,-19.21], [44.08, 5.66]]" %}
  <div class="filters">
    <div>
    {{ h.snippet('snippets/fscheming_facet_search_operator.html', title= _('Search configuration')) }}
       {% for facet in facet_titles %}
        {% if facet =='owner_org' %}
          {% set label_function = h.fscheming_organization_name %}
        {% else %}
          {% set label_function = None %}
        {% endif %}
        {{ h.snippet('snippets/fscheming_facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets, scheming_choices=h.scheming_field_by_name(h.scheming_get_dataset_schema('dataset').dataset_fields,facet).choices, label_function = label_function) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}